body {
    color: #800000;
    background: #ffffee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    color: #dd0000;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #0000ee;
}

hr {
    color: #800000;
}

.buttons1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
}

.content {
    display: block;
    text-align: center;
    word-break: break-all;
}

.content .entries {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    word-wrap: break-word;
}

.footer {
    margin-top: 25px;
}